<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
		<services>
			<service name="WindowsServiceBase.WebServices.ServiceTemplate" behaviorConfiguration="ServiceBehavior">
				<endpoint address="/EchoService" binding="basicHttpBinding"
						  bindingConfiguration="basicHttpBindingConfiguration" contract="WindowsServiceBase.WebServices.IServiceTemplate" />
			</service>
		</services>
		<bindings>
			<basicHttpBinding>
				<binding name="basicHttpBindingConfiguration">
					<security mode="Transport">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>